body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.listWrap .noDataMessage {
  text-align: center;
}

.deploymentTable {
  width: 100%;
  border-radius: 3px;
}

.deploymentTable th,
.deploymentTable td {
  border: 1px solid #cccccc;
  padding: 10px;
}

.deploymentTable tbody tr:nth-child(odd) td {
  background-color: #edfbf0;
}

.dataForMobile .actions button,
.deploymentTable td.actions button {
  border: none;
  background: none;
  box-shadow: none;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  display: block;
  color: #777777;
  outline: none;
}

.dataForMobile .actions button {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px 10px;
  color: #333;
  line-height: 16px;
  font-size: 14px;
}

.dataForMobile .actions button svg {
  margin: -4px 5px 0 0;
}

.dataForMobile .actions button:hover,
.deploymentTable td.actions button:hover {
  color: #333333;
}

.addFormWrapper {
  max-width: 400px;
  margin: 20px auto;
}

input[type="submit"].btn,
a.btn,
button.btn {
  border-radius: 30px;
  background: transparent;
}

input[type="submit"].btn-primary,
a.btn-primary,
button.btn-primary {
  color: #007bff;
}

input[type="submit"].btn-primary:hover,
a.btn-primary:hover,
button.btn-primary:hover {
  background: #007bff;
  color: #fff;
}

input[type="submit"].btn-secondary,
a.btn-secondary,
button.btn-secondary {
  color: #6c757d;
}

.dataForMobile {
  display: none;
}

/* Media query */

@media screen and (max-width: 480px) {
  .listWrap h2 {
    font-size: 20px;
  }
  
  .listWrap a.btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  .addFormWrapper {
    max-width: 100%;
  }

  table.deploymentTable {
    display: none;
  }
  .dataForMobile {
    display: block;
  }

  .dataForMobile ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: 100%;
  }

  .dataForMobile ul li {
    display: block;
    padding: 10px 0 0 0;
    border-top: 1px solid #cccccc;
    margin-top: 10px;
  }
  .dataForMobile ul li span {
    font-weight: bold;
  }
  .dataForMobile ul li:first-child {
    padding: 0;
    margin: 0;
    border: none;
  }
}
